import type { FlowComponent } from "solid-js";

const {{capitalize componentName}}: FlowComponent = (props) => {
	return <div {...props}>{props.children}</div>;
};

export default {{capitalize componentName}};